{% extends 'base.html' %}
{% block content %}
<p><a href="{% url 'main:show_main' %}"><button>← Back to Items List</button></a></p>

<h1>{{ items.name }}</h1>
<p><b>{{ items.get_category_display }}</b>{% if items.is_featured %} | 
    <b>Featured</b>{% endif %}{% if items.is_items_hot %} | 
    <b>Hot</b>{% endif %} | <i>{{ items.created_at|date:"d M Y, H:i" }}</i> 
    | Views: {{ items.visitors }}</p>

{% if items.thumbnail %}
<img src="{{ items.thumbnail }}" alt="Items thumbnail" width="300">
<br /><br />
{% endif %}

<p>{{ items.description }}</p>
<!-- Untuk menampilkan harga serta stock dari item yang dijual -->
<!-- Mengecek apakah item sudah memiliki harga atau belum -->
{% if items.price != 0 %}
    <h1>Price: {{ items.price }}</h1>
{% endif %}
{% if items.stock != 0 %}
    <h1>Stock: {{ items.stock }}</h1>
{% endif %}

{% endblock content %}