<!DOCTYPE html>
<html>
    <head>
        <title>{{ applicationName }}</title>
    </head>
    <body>
        <h1>{{ applicationName }}</h1> <!--Nama Project-->
        <h4>Name</h4>
        <p>{{ name }}</p> <!-- Ubah sesuai dengan npm kamu -->
        <h4>Class </h4>
        <p>{{ class }}</p> <!-- Ubah sesuai dengan nama kamu -->
        <h4>NPM: </h4>
        <p>{{ npm }}</p> <!-- Ubah sesuai dengan kelas kamu -->

        <h1>Product</h1>
        <img src="https://fifpro.org/media/fhmfhvkx/messi-world-cup.jpg" alt="Messi World Cup 2022">
        <p>Messi World Cup 2022 Limited Edition</p>
    </body>
</html>
